<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#">Logo</a>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tours</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

  <script>
    function toggleMenu() {
      var navLinks = document.querySelector(".nav-links");
      var menuIcon = document.querySelector(".menu-icon");
      navLinks.classList.toggle("show");
      menuIcon.classList.toggle("close");
    }
  </script>
  
  <!-- Resto del contenido de la página -->
  
</body>
</html>